<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
		
  </startup>
  <connectionStrings>
	  <!--<add name="zoho" connectionString="Data Source=.;Initial Catalog=DbZoho;User Id=sa;Password=sa;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" providerName="System.Data.SqlClient" /> !-->	  
	  <add name="DbZohoEntities" connectionString="metadata=res://*/EntityZoho.csdl|res://*/EntityZoho.ssdl|res://*/EntityZoho.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ROYCHAVEZ\MSSQLSERVER2019;initial catalog=DbZoho;persist security info=True;user id=sa;password=Racha1575;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
	<add key="code" value="1000.8396941aee3a790123da026508f3dbf9.d03a987dc96c84409e3695fdc927000c"/>
	<add key="client_id" value="1000.N6GUJ353GT4NWGHB1U1J76KGU456NJ"/>
	<add key="secret_id" value="63839cd34d449c4c59cee081596d83759c19378755"/>
	<add key="grant_type" value="authorization_code"/>
	<add key="redirect_url" value="https://accounts.zohoportal.eu/accounts/pfs/30006472559/clientidpcallback"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>